.editor-container {

  /* Screenplay Dimensions */
  width: 8.5in;
  min-height: 11in;
  /* min-height now to expand. TODO: add pagination */
  padding-top: 1in;
  font-family: 'Courier Prime', monospace;
  font-size: 12pt;
  line-height: 1;
  /* 6 lines per in */

  /* Page Aspects */
  background: white;
  color: #000;
  margin: 40px auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

.tiptap {
  outline: none;
}

/* Screenwriting Elements */

[data-type="scene-heading"] {
  padding-left: 1.5in;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1lh;
}

[data-type="action"] {
  padding-left: 1.5in;
  padding-right: 1in;
  margin-bottom: 1lh;
}

[data-type="character"] {
  padding-left: 3.5in;
  text-transform: uppercase;
}

[data-type="dialogue"] {
  padding-left: 2.5in;
  padding-right: 2.5in;
  margin-bottom: 1lh;
}

[data-type="dialogue"]:has(+ [data-type="parenthetical"]) {
  margin-bottom: 0;
}

[data-type="parenthetical"] {
  padding-left: 3in;
  padding-right: 3in;
}

[data-type="transition"] {
  padding-left: 6in;
  padding-right: 1in;
  text-transform: uppercase;
  margin-bottom: 1lh;
}