.tiptap {
  outline: none;

  /* Page Aspects */
  background: white;
  color: #000;
  margin: 40px auto;

  /* Screenplay Format*/
  font-family: 'Courier Screenplay', 'Courier Prime', monospace;
  font-size: 12pt;
  line-height: 1;
}

/* Screenwriting Elements */

[data-type="scene-heading"] {
  padding-left: 1.5in;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1lh;
}

[data-type="action"] {
  padding-left: 1.5in;
  padding-right: 1in;
  margin-bottom: 1lh;
}

[data-type="character"] {
  padding-left: 3.5in;
  text-transform: uppercase;
}

[data-type="dialogue"] {
  padding-left: 2.5in;
  padding-right: 3in;
  margin-bottom: 1lh;
}

[data-type="dialogue"]:has(+ [data-type="parenthetical"]) {
  margin-bottom: 0;
}

[data-type="parenthetical"] {
  padding-left: 3in;
  padding-right: 3in;
}

[data-type="transition"] {
  padding-left: 6in;
  padding-right: 1in;
  text-transform: uppercase;
  margin-bottom: 1lh;
}

/* Spaghetti code nonsense to try and remove the pointer from tiptap-pagination-plus*/
.rm-page-header.rm-page-header-0 {
  cursor: text !important;
}

.rm-page-footer.rm-page-footer-0 {
  cursor: text !important;
}