/* Editor */
.tiptap {
  outline: none;

  /* Page Aspects */
  background: white;
  color: #000;
  margin-top: 50px;
  margin-right: 40px;
  margin-left: 20px;

  /* Screenplay Format*/
  font-family: 'Courier Screenplay', 'Courier Prime', monospace;
  font-size: 12pt;
  line-height: 1;
}

/* Title Page */
.tiptap.ProseMirror:not(.rm-with-pagination) {
  height: 11in;
  width: 8.5in;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1in;
  box-sizing: border-box;
}

/* Screenplay Nodes */

[data-type="scene-heading"] {
  padding-left: 1.5in;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1lh;
  position: relative;   /* For the heading numbers */
  scroll-margin-top: 1lh;
}

[data-type="scene-heading"][data-scene-number]::before {
  content: attr(data-scene-number);
  position: absolute;
  left: 0.75in;
}

[data-type="scene-heading"][data-scene-number]::after {
  content: attr(data-scene-number);
  position: absolute;
  right: 1in;
}

[data-type="action"] {
  padding-left: 1.5in;
  padding-right: 1in;
  margin-bottom: 1lh;
}

[data-type="character"] {
  padding-left: 3.5in;
  text-transform: uppercase;
}

[data-type="dialogue"] {
  padding-left: 2.5in;
  padding-right: 3in;
  margin-bottom: 1lh;
}

[data-type="dialogue"]:has(+ [data-type="parenthetical"]) {
  margin-bottom: 0;
}

[data-type="parenthetical"] {
  padding-left: 3in;
  padding-right: 3in;
}

[data-type="transition"] {
  padding-left: 6in;
  padding-right: 1in;
  text-transform: uppercase;
  margin-bottom: 1lh;
}

/* Title Page Nodes */

[data-type="title-page-title"] {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1lh;
  margin-top: 3in;
}

[data-type="title-page-credit"],
[data-type="title-page-author"],
[data-type="title-page-source"] {
  text-align: center;
  margin-bottom: 1lh;
}

[data-type="title-page-source"] {
  flex-grow: 1;
}

/* Spaghetti code nonsense to try and remove the pointer from tiptap-pagination-plus*/
.rm-page-header.rm-page-header-0 {
  cursor: text !important;
}

.rm-page-footer.rm-page-footer-0 {
  cursor: text !important;
}