.navigator {
  background-color: white;
  font-family: 'Courier Screenplay', 'Courier Prime', monospace;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 20px;
  padding: 15px;
  position: sticky;
  top: 100px;
  overflow-y: scroll;
}

.scene-shortcut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}

.scene-shortcut:hover {
  text-decoration: underline;
  cursor: pointer;
}

.active-scene-shortcut {
  text-decoration: underline;
}

.navigator-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 9pt;
  letter-spacing: 0.05em;
}