@import "tailwindcss";

@font-face {
  font-family: 'Courier Screenplay';
  src: url('/fonts/CourierScreenplay.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Screenplay';
  src: url('/fonts/CourierScreenplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Screenplay';
  src: url('/fonts/CourierScreenplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Courier Screenplay';
  src: url('/fonts/CourierScreenplay-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(248, 250, 253);
}

/* Print / PDF */
@media print {

  body * {
    visibility: hidden;
  }

  .tiptap.ProseMirror,
  .tiptap.ProseMirror * {
    visibility: visible !important;
  }

  .rm-pages-wrapper,
  .rm-page-break,
  .rm-page-footer,
  .rm-page-header,
  .rm-pagination-gap,
  .rm-first-page-header {
    display: none !important;
  }

  .print-container {
    position: absolute !important;
    display: block !important;
    top: 0;
    left: 0;
    width: 8.5in !important;
    margin: 0 !important;
  }

  .tiptap.ProseMirror:not(.rm-with-pagination) {
    position: static !important;
    width: 8.5in !important;
    margin: 0 !important;
    box-shadow: none !important;
    border: 0 !important;
  }

  .tiptap.ProseMirror.rm-with-pagination {
    position: static !important;
    width: 8.5in !important;
    margin: 0 !important;
    box-shadow: none !important;
    break-before: page;
    border: 0 !important;
    min-height: 0 !important;
  }

  @page :first {
    margin: 0;
  }

  @page {
    size: Letter;
    margin: 1in 0;
  }
}

.editor-container {
  display: flex;
  justify-content: space-evenly;
}